@media (min-width: 1601px) {
    body {
        --airplane-max-width: 40dvw;
    }
}

@media (max-width: 1600px) {
    body {
        --airplane-max-width: 40dvw;
    }
}

@media (max-width: 860px) {
    body {
        --airplane-max-width: 80dvw;
    }

    #preview-section {
        margin: 0 auto !important;
    }
}

@media (max-width: 700px) {   
    #drag-drop-zone {
        padding: 32px;
    }
}
