html {
    font-size: 20px !important;
}

body {
	--airplane-max-width: 40dvw;
}

.dash-border {
    border: 2px dashed var(--separator-color);
}

#drag-drop-zone {
    padding: 64px;
    border-radius: 16px;
    box-shadow: 0;
    background-color: var(--primary-background-color);

    transition: box-shadow 200ms ease-out;
}
#drag-drop-zone > * {
    -webkit-user-select: none;
    user-select: none;
}
#drag-drop-zone.dragover {
    box-shadow: 0 0 40px 0 hsla(0, 0%, 0%, .15);
}
#drag-drop-zone.dragover > * {
    pointer-events: none;
}
#drag-drop-zone.dragover > .button {
    pointer-events: initial;
}

#image-controller::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px dashed var(--separator-color);
    border-radius: 16px;
    pointer-events: none;
    z-index: 1;
}
#image-controller > img.on-drag {
    transition: none !important;
}

#image-controller-helper.hide {
    opacity: 0 !important;

    transition: 133ms ease-out opacity;
}

.text-separator {
    --separator-margin: 1em;

	overflow: hidden;
	width: 80%;
	text-align: center;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	
	-webkit-user-select: none;
	user-select: none;
}
.text-separator::before,
.text-separator::after {
	background-color: var(--separator-color);
	content: "";
	display: inline-flex;
	height: 2px;
    opacity: 0.5;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 50%;
}
.text-separator::before {
	right: var(--separator-margin);
	margin-left: -50%;
}
.text-separator::after {
	left: var(--separator-margin);
	margin-right: -50%;
}

.progress-label {
    font-size: var(--h5-font-size) !important;
}

.template-replacement {
    font-weight: bold;
    background-color: var(--accent-color);
    color: var(--accent-button-text-color);
    border-radius: 6px;
    padding: 6px 8px;
}